<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">


    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>

</head>
<body>

<!--NAV-->
<nav class="navbar navbar-expand-lg navbar-light text-primary shadow">
    <a class="navbar-brand text-dark" href="#">Spring Recipes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{'/index'}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{'/about'}">About</a>
            </li>
        </ul>
    </div>
</nav>

<!--HOME-->

<div class="card shadow-lg mt-5 mx-auto w-25">
    <img th:if="${recipe.image == null}" th:src="@{/img/foodavatar.jpg}" alt="recipe book" class="d-block img-fluid">
    <img th:if="${recipe.image != null}" th:src="@{'/recipe/' + ${recipe.id} + '/recipeimage'}" alt="recipe book" class="d-block img-fluid">
</div>



<div class="card mx-auto w-75 mt-5">
    <div class="card-header container-fluid bg-dark text-white" >
        <div class="row">
            <div class="col-6 d-flex justify-content-start">
                <h5 class="card-title ">Recipe Info</h5>

            </div>
            <div class="col-6 d-flex justify-content-end">
                <a class="btn btn-link btn-primary btn-lg text-white" th:href="'/recipe/'+ ${recipe.id} + '/update'">Edit</a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <h5 class="card-title" th:text="${recipe.description}">Recipe Name</h5>
        <p class="card-text" th:text="${'Prep Time: ' + recipe.getPrepTime() + ' min'}">Prep Time: </p>
        <p class="card-text" th:text="${'Cook Time: ' + recipe.getCookTime() + ' min'}">Cook Time: </p>
        <p class="card-text" th:text="${'Difficulty: ' + recipe.difficulty}">Difficulty: </p>
        <p class="card-text" th:text="${'Servings: ' + recipe.servings}">Servings: </p>
        <p class="card-text" th:text="${'Source: ' + recipe.getSource()}">Source: </p>
        <p class="card-text" th:text="${'URL: ' + recipe.getUrl()}">Source: </p>

    </div>
</div>
<div class="card mx-auto w-75 mt-5">
    <div class="card-header bg-dark text-white">
        <h5 class="card-title">Ingredients</h5>
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted" th:text="${recipe.description + ' ingredients'}">Food Ingredients</h6>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient.description + ' - ' + ingredient.getAmount()+ ' ' + ingredient.getUnitOfMeasure().getUnitOfMeasure()}">Ingredients</li>
    </ul>
</div>



<div class="card mx-auto w-75 mt-5">
    <div class="card-header bg-dark text-white">
        <h5 class="card-title">Directions</h5>
    </div>
    <div class="card-body">
        <p class="card-text" th:text="${recipe.directions}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>




<div class="card mx-auto w-75 mt-5">
    <div class="card-header bg-dark text-white">
        <h5 class="card-title">Notes</h5>
    </div>
    <div class="card-body">
        <p class="card-text" th:if="${recipe.notes != null}" th:text="${recipe.notes.getRecipeNotes()}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

<!--<div class="card mx-auto w-75 mt-5">-->
<!--    <div class="card-header bg-dark text-white">-->
<!--        <h5 class="card-title">Categories</h5>-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--        <h6 class="card-subtitle mb-2 text-muted" th:text="${recipe.description + ' belongs to these categories:'}">Recipe</h6>-->
<!--    </div>-->
<!--    <ul class="list-group list-group-flush">-->
<!--        <li class="list-group-item" th:each="category : ${recipe.categories}" th:text="${category.getCategoryName()}">All Categories</li>-->
<!--    </ul>-->
<!--</div>-->

<form action=""></form>
<a href="" type="submit"></a>

</body>
</html>